<h1>Signup Page</h1>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>

</ul>
<form>
      <div class="row">
        
        <div class="six columns">
          <label for="exampleEmailInput">Your email</label>
          <input 
          class="u-full-width" 
          type="email" 
          placeholder="test@mailbox.com" 
          id="exampleEmailInput">
        </div>
        <div class="six columns">
          <label for="exampleEmailInput">Your password</label>
          <input 
          class="u-full-width"
          type="password" 
          placeholder="User password" 
          id="exampleEmailInput">
        </div>
        
      </div>

      <input class="button-primary" type="submit" value="Submit">
  </form>